module.exports = {
	server_port: 8080,
	server_prefix: "/chart",
	information_service_address: process.env.INFORMATION_SERVICE_URL,
	information_service_development: true,
	multicast_address: "224.1.2.3",
	multicast_port: 8000,
	log_filename: <<LOG_FILENAME>>
}
