module.exports = {
	secret_key_base: process.env.INFORMATION_SERVICE_URL,
	encrypted_cookie_salt: "<<COOKIE_SALT>>",
	encrypted_signed_cookie_salt: "<<SIGNED_COOKIE_SALT>>",
	iterations: 1000,
	keylen: 64,
	cipherName: 'aes-256-cbc'
};
